html, body {
	height: 100%;
}
body {
	position: relative;
	margin: 0;
	background: black;
}
#level {
	position: absolute;
	left: 0;
	width: 80%;
	height: 100%;
}

#sidebar {
	position: absolute;
	right: 0;
	width: 20%;
	height: 100%;
	overflow: hidden;
}

#top {
	width: 100%;
	height: 30%
}

#bottom {
	width: 100%;
	height: 70%;
}

#overview, #log, #stats {
	position: relative;
}

#level canvas {
	display: block;
	position: relative;
	margin: auto;
}

#overview {
	width: 50%;
	display: inline-block;
	float: left;
}

#stats {
	width: 50%;
	display: inline-block;
	float: left;
}

#log {
	width: 100%;
}